/* use google font  */
/* inter font */
.inter-font1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Raleway font */

.raleway-font2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* use google font  */

/* shared stye section start */
.btn-primary {
    text-decoration: none;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-weight: 800;
}
.text-center{
    text-align: center;
}

/* shared stye section end */

/* header style  */

header{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav section style start */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

nav li {
    list-style: none;
}

.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;

}



/* nav section style end */


/* banner section style start */
.banner{
    padding: 155px 267px;
}
.banner-content{
    font-size: 65px;
    font-weight: 800;
    color: #252432;
}
.stay-focused{
    margin-top: 35px;
}
/* banner section style end */

/* action section style start*/

.action{
    display: flex;
    max-width: 1140px;
    margin: 116px auto;
    justify-content: space-between;
}
.action-content{
    max-width: 517px;
}
.action-title{
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}
.action-description{
    font-size: 24px;
color: rgba(37, 36, 50, 0.5);
}
.action-img img{
    border-radius: 48px;
}
/* action section style end */

/* productive user section  style start*/

.productive{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255,0.1);
}
.joined-thousand{
    max-width: 856px;
    margin: 0 auto;
    padding: 50px 142px;
}
.joind-thousand-title{
    font-size: 38px;
    font-weight: 800;
    color: #252432;
    margin-bottom: 0px;
}

.productive-users{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;

}
.productive-users h2{
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 5px;

}
.productive-users p{
    font-size: 20px;
    color: rgb(0, 0, 0,0.5);
    margin-top: 0px;
}
/* productive user section  style end*/